In [1]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [2]:
df = pd.read_csv('movies.csv')

## Basic Overview of dataset

In [4]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,cast,director,keywords,genre_names
0,FALSE,/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg,"[28, 35, 878]",533535,en,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,5464.692,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,24-07-2024,Deadpool & Wolverine,FALSE,7.800,2414.0,"['Ryan Reynolds', 'Hugh Jackman', 'Emma Corrin']",Shawn Levy,"['hero', 'superhero', 'anti hero', 'mutant', '...","['Action', 'Comedy', 'Science Fiction']"
1,FALSE,/stKGOm8UyhuLPR9sZLjs5AkmncA.jpg,"[16, 10751, 12, 35]",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,2641.200,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,11-06-2024,Inside Out 2,FALSE,7.700,3024.0,"['Amy Poehler', 'Maya Hawke', 'Kensington Tall...",Kelsey Mann,"['sadness', 'disgust', 'sequel', 'computer ani...","['Animation', 'Family', 'Adventure', 'Comedy']"
2,FALSE,/4ft6TR9wA6bra0RLL6G7JFDQ5t1.jpg,"[28, 35]",704239,en,The Union,A New Jersey construction worker goes from reg...,1686.712,/d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg,15-08-2024,The Union,FALSE,6.266,396.0,"['Mark Wahlberg', 'Halle Berry', 'J.K. Simmons']",Julian Farino,"['espionage', 'spy', 'old flame', 'miscegenati...","['Action', 'Comedy']"
3,FALSE,/3q01ACG0MWm0DekhvkPFCXyPZSu.jpg,"[28, 80, 53, 35]",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",1751.057,/oGythE98MYleE6mZlGs5oBGkux1.jpg,05-06-2024,Bad Boys: Ride or Die,FALSE,7.580,1719.0,"['Will Smith', 'Martin Lawrence', 'Vanessa Hud...",Adil El Arbi,"['miami, florida', 'sequel', 'on the run', 'po...","['Action', 'Crime', 'Thriller', 'Comedy']"
4,FALSE,/lgkPzcOSnTvjeMnuFzozRO5HHw1.jpg,"[16, 10751, 35, 28]",519182,en,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2051.558,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,20-06-2024,Despicable Me 4,FALSE,7.300,1257.0,"['Steve Carell', 'Kristen Wiig', 'Will Ferrell']",Chris Renaud,"['superhero', 'villain', 'sequel', 'super vill...","['Animation', 'Family', 'Comedy', 'Action']"

In [5]:
df.sample(5)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,cast,director,keywords,genre_names
3031,FALSE,/x0vosvNAhzINvPxJ4AJ3tBCAFyn.jpg,"[10402, 18, 10749]",85446,en,Step Up Revolution,Emily arrives in Miami with aspirations to bec...,36.362,/ab9T58BlOPauWd9tMnK0HhwYY7u.jpg,26-07-2012,Step Up Revolution,FALSE,6.921,2009.0,"['Kathryn McCormick', 'Ryan Guzman', 'Misha Ga...",Scott Speer,"['flash mob', 'dance instructor', 'real estate...","['Music', 'Drama', 'Romance']"
3529,FALSE,/q46nyik6GeDkUV6wQGiZQ97UuP6.jpg,"[27, 53]",579,en,Jaws 2,Police chief Brody must protect the citizens o...,34.170,/cN3ijEwsn4kBaRuHfcJpAQJbeWe.jpg,16-06-1978,Jaws 2,FALSE,5.973,1847.0,"['Roy Scheider', 'Lorraine Gary', 'Murray Hami...",Jeannot Szwarc,"['dying and death', 'rescue', 'island', 'panic...","['Horror', 'Thriller']"
4401,FALSE,/69WsMlPt0JC1fIOG5S3a2XD83NR.jpg,"[35, 18]",73881,fr,La Fonte des neiges,Léo is dragged to a nudist camping resort by h...,29.078,/yu2lpgsWZg3u8LrYkM23S0VRHk6.jpg,31-01-2009,Thawing Out,FALSE,5.800,35.0,"['Marc Beffa', 'Géraldine Martineau', 'Zazon C...",Jean-Julien Chervier,"['nudist camp', 'shyness', 'camping', 'vacatio...","['Comedy', 'Drama']"
4331,FALSE,/g94iU9b2qJDvs4wukICvoYv8xdQ.jpg,"[10751, 16, 12, 35, 80]",15371,ja,ルパン三世 カリオストロの城,After a successful robbery leaves famed thief ...,42.668,/vRWNAjvhY3vIOirWONi50y9bFDW.jpg,06-07-1979,Lupin the Third: The Castle of Cagliostro,FALSE,7.535,1001.0,"['Yasuo Yamada', 'Kiyoshi Kobayashi', 'Eiko Ma...",Hayao Miyazaki,"['treasure', 'samurai', 'casino', 'clock tower...","['Family', 'Animation', 'Adventure', 'Comedy',..."
4495,FALSE,/wErO9CjV8pjhO6MsyggEwBClDty.jpg,"[16, 9648, 14, 27]",725064,ja,アムリタの饗宴,The story centers on a high school girl named ...,23.286,/eHt9KnmZDQBiEnhk7hoYcKxCiwX.jpg,26-05-2023,The Feast of Amrita,FALSE,6.000,1.0,"['Maaya Uchida', 'Mamiko Noto', 'Kana Hanazawa']",Saku Sakamoto,"['gore', 'survival', 'schoolgirl', 'supernatur...","['Animation', 'Mystery', 'Fantasy', 'Horror']"

In [6]:
df.shape

(5002, 18)

In [7]:
df.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count', 'cast',
       'director', 'keywords', 'genre_names'],
      dtype='object')

## Extracting id and respective poster_path
this will be helpful in showing posters along with recommended movie names.

In [8]:
poster_paths = df[['id', 'poster_path']]

In [9]:
pickle.dump(poster_paths, open('poster_paths.pkl', 'wb'))

## Filtering columns 
Only keeping those columns which will help in building recommender system.

In [10]:
df['original_language'].value_counts()

original_language
en         3798
ja          314
ko          153
es          134
fr          121
zh           81
it           68
cn           56
tl           32
ru           29
hi           28
de           25
th           19
sv           17
pt           15
id           14
no           14
pl           12
tr            9
te            7
da            7
ta            6
nl            6
ar            4
kn            3
ca            3
el            3
mn            2
vi            2
sr            2
is            2
fi            2
uk            2
ml            2
bn            2
XXXXXXX       2
cs            1
lt            1
hr            1
ms            1
mk            1
yo            1
Name: count, dtype: int64

In [15]:
df[df['original_language'] == 'en'].shape[0]/df.shape[0]
# more than 75% of movies are in english so not important column

0.759296281487405

In [16]:
df['adult'].value_counts()

adult
FALSE                                                 5000
 Of the domestic exploration for finding my voice.       2
Name: count, dtype: int64

### columns to include
- id
- title
- overview
- genre_names 
- keywords
- cast 
- director

In [17]:
df2 = df.copy()

In [18]:
df = df[['id', 'title', 'overview', 'genre_names', 'keywords', 'cast', 'director']]

## Handling duplicate values

In [19]:
df.duplicated().sum()

113

In [20]:
df[df.duplicated()]

,id,title,overview,genre_names,keywords,cast,director
60,299536,Avengers: Infinity War,As the Avengers and their allies have continue...,"['Adventure', 'Action', 'Science Fiction']","['sacrifice', 'magic', 'superhero', 'based on ...","['Robert Downey Jr.', 'Chris Evans', 'Chris He...",Anthony Russo
61,943344,Underground Monster,"Near a remote town, the repeated dumping of to...","['Fantasy', 'Adventure']",[],"['Wei Wei', 'Wei Lu', 'Zhang Chunzhong']",Huang He
62,7451,xXx,Xander Cage is your standard adrenaline junkie...,"['Action', 'Adventure', 'Thriller', 'Crime']","['mission', 'biological weapon', 'sports car',...","['Vin Diesel', 'Asia Argento', 'Marton Csokas']",Rob Cohen
98,1032823,Trap,A father and teen daughter attend a pop concer...,"['Crime', 'Thriller', 'Horror', 'Mystery']","['concert', 'philadelphia, pennsylvania', 'dou...","['Josh Hartnett', 'Ariel Donoghue', 'Saleka']",M. Night Shyamalan
200,866398,The Beekeeper,One man's campaign for vengeance takes on nati...,"['Crime', 'Action', 'Adventure', 'Thriller']","['potus', 'secret government agency', 'fbi age...","['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...",David Ayer
...,...,...,...,...,...,...,...
4824,11284,Freddy's Dead: The Final Nightmare,"Just when you thought it was safe to sleep, Fr...","['Horror', 'Thriller']","['amnesia', 'dream', 'nightmare', 'sadism', 'p...","['Robert Englund', 'Lisa Zane', 'Shon Greenbla...",Rachel Talalay
4862,1072876,Self Reliance,When a man is offered a million dollars to pla...,"['Comedy', 'Thriller']","['boredom', 'homeless', 'dark web', 'reality s...","['Jake Johnson', 'Anna Kendrick', 'Natalie Mor...",Jake Johnson
4922,527776,Overcomer,After reluctantly agreeing to coach cross-coun...,['Drama'],"['sports', 'christianity', 'cross country']","['Alex Kendrick', 'Priscilla C. Shirer', 'Came...",Alex Kendrick
4923,109443,Anchorman 2: The Legend Continues,"With the 70s behind him, San Diego's top rated...",['Comedy'],"['journalism', 'language', 'mustache', 'gang w...","['Will Ferrell', 'Steve Carell', 'Paul Rudd']",Adam McKay
4924,242643,Batman: Assault on Arkham,Batman works desperately to find a bomb plante...,"['Thriller', 'Animation', 'Action', 'Crime']","['superhero', 'based on comic', 'spin off']","['Kevin Conroy', 'Neal McDonough', 'Hynden Wal...",Ethan Spaulding

In [21]:
df.drop_duplicates(inplace=True)

In [24]:
df[['title', 'director']].duplicated().sum()

2

In [25]:
df[['title', 'director']].drop_duplicates(inplace=True)

C:\Users\DILKHUSH\AppData\Local\Temp\ipykernel_11476\2888151636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['title', 'director']].drop_duplicates(inplace=True)

## Handling missing values

In [32]:
df.isna().sum()

id              0
title           1
overview       34
genre_names     2
keywords        2
cast            2
director       25
dtype: int64

In [33]:
df[df['title'].isna()]

,id,title,overview,genre_names,keywords,cast,director
4179,457697,NaN,A tarot card reading as a starting point. A d...,NaN,NaN,NaN,NaN

In [34]:
df[df['genre_names'].isna()]

,id,title,overview,genre_names,keywords,cast,director
4179,457697,NaN,A tarot card reading as a starting point. A d...,NaN,NaN,NaN,NaN
4180,01-09-2016,[],6.9,NaN,NaN,NaN,NaN

In [35]:
df[df['keywords'].isna()]

,id,title,overview,genre_names,keywords,cast,director
4179,457697,NaN,A tarot card reading as a starting point. A d...,NaN,NaN,NaN,NaN
4180,01-09-2016,[],6.9,NaN,NaN,NaN,NaN

In [36]:
df.dropna(inplace=True)

In [37]:
df.isna().sum()

id             0
title          0
overview       0
genre_names    0
keywords       0
cast           0
director       0
dtype: int64

## Formatting textual columns into list

In [38]:
df['genre_names'][0]

"['Action', 'Comedy', 'Science Fiction']"

In [39]:
ast.literal_eval("['Action', 'Comedy', 'Science Fiction']")

['Action', 'Comedy', 'Science Fiction']

In [40]:
df['keywords'][0]

"['hero', 'superhero', 'anti hero', 'mutant', 'breaking the fourth wall', 'marvel cinematic universe (mcu)', 'mutants', 'superhero teamup']"

In [41]:
df['cast'][0]

"['Ryan Reynolds', 'Hugh Jackman', 'Emma Corrin']"

In [42]:
df['director'][0]

'Shawn Levy'

In [43]:
def create_list(name):
    return [name]

### Creating lists from all the textual columns

In [44]:
df['genre_names'] = df['genre_names'].apply(ast.literal_eval)
df['keywords'] = df['keywords'].apply(ast.literal_eval)
df['cast'] = df['cast'].apply(ast.literal_eval)
df['director'] = df['director'].apply(create_list)
df['overview'] = df['overview'].apply(lambda x:x.split())

### Removing spaces between words so that meaning remains

In [45]:
def collapse(L):
    l = []
    for i in L:
        l.append(i.replace(' ', ''))
    return l

In [46]:
df['genre_names'].apply(collapse)

0             [Action, Comedy, ScienceFiction]
1       [Animation, Family, Adventure, Comedy]
2                             [Action, Comedy]
3            [Action, Crime, Thriller, Comedy]
4          [Animation, Family, Comedy, Action]
                         ...
4997                           [Drama, Comedy]
4998                                [Thriller]
4999             [Action, Drama, History, War]
5000                [Mystery, Thriller, Crime]
5001                                  [Comedy]
Name: genre_names, Length: 4840, dtype: object

In [47]:
df['keywords'].apply(collapse)

0       [hero, superhero, antihero, mutant, breakingth...
1       [sadness, disgust, sequel, computeranimation, ...
2       [espionage, spy, oldflame, miscegenation, cons...
3       [miami,florida, sequel, ontherun, policedetect...
4       [superhero, villain, sequel, supervillain, ill...
                              ...
4997    [bondage, lesbianrelationship, torture, basedo...
4998                                     [schoolshooting]
4999    [siblingrelationship, fight, brother, worldwar...
5000    [island, fbi, simulation, training, serialkill...
5001    [mutiny, submarine, u.s.navy, misfit, maverick...
Name: keywords, Length: 4840, dtype: object

In [48]:
df['cast'].apply(collapse)

0           [RyanReynolds, HughJackman, EmmaCorrin]
1        [AmyPoehler, MayaHawke, KensingtonTallman]
2           [MarkWahlberg, HalleBerry, J.K.Simmons]
3       [WillSmith, MartinLawrence, VanessaHudgens]
4           [SteveCarell, KristenWiig, WillFerrell]
                           ...
4997    [NorikoKijima, HarunaYoshizumi, YukiMamiya]
4998        [NaomiWatts, ColtonGobbo, SierraMaltby]
4999        [DanielCraig, LievSchreiber, JamieBell]
5000       [KathrynMorris, JonnyLeeMiller, LLCoolJ]
5001     [KelseyGrammer, LaurenHolly, RobSchneider]
Name: cast, Length: 4840, dtype: object

In [49]:
df['overview'] = df['overview'].apply(collapse)
df['genre_names'] = df['genre_names'].apply(collapse)
df['keywords'] = df['keywords'].apply(collapse)
df['cast'] = df['cast'].apply(collapse)
df['director'] = df['director'].apply(collapse)

In [50]:
df['tags'] = df['overview'] + df['genre_names'] + df['keywords'] + df['cast'] + df['director']

### Creating new dataframe by dropping columns which are already included into tags

In [75]:
new_df = df.drop(columns=['overview', 'genre_names', 'keywords', 'cast', 'director'])

In [76]:
new_df

,id,title,tags
0,533535,Deadpool & Wolverine,"[A, listless, Wade, Wilson, toils, away, in, c..."
1,1022789,Inside Out 2,"[Teenager, Riley's, mind, headquarters, is, un..."
2,704239,The Union,"[A, New, Jersey, construction, worker, goes, f..."
3,573435,Bad Boys: Ride or Die,"[After, their, late, former, Captain, is, fram..."
4,519182,Despicable Me 4,"[Gru, and, Lucy, and, their, girls—Margo,, Edi..."
...,...,...,...
4997,297090,The Torture Club,"[The, ""Torture, Club"", is, an, official, after..."
4998,764835,The Desperate Hour,"[A, woman, desperately, races, to, save, her, ..."
4999,13813,Defiance,"[Based, on, a, true, story,, during, World, Wa..."
5000,16617,Mindhunters,"[Trainees, in, the, FBI's, psychological, prof..."
5001,9101,Down Periscope,"[Maverick, Navy, Lieutenant, Commander, Tom, D..."

In [77]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

In [82]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [83]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DILKHUSH\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [84]:
stemmer = PorterStemmer()

stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    words = text.split()
    processed_words = [stemmer.stem(word) for word in words if word.lower() not in stop_words]
    return ' '.join(processed_words)

In [88]:
new_df['processed_tags'] = new_df['tags'].apply(preprocess_text)

## Vectorizing strings

In [89]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [90]:
vector = cv.fit_transform(new_df['processed_tags']).toarray()

In [91]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [92]:
vector.shape

(4840, 5000)

In [93]:
similarity = cosine_similarity(vector)

In [94]:
similarity

array([[1.        , 0.02486824, 0.06579517, ..., 0.02654659, 0.        ,
        0.02142748],
       [0.02486824, 1.        , 0.08099239, ..., 0.        , 0.        ,
        0.035169  ],
       [0.06579517, 0.08099239, 1.        , ..., 0.02881952, 0.        ,
        0.02326211],
       ...,
       [0.02654659, 0.        , 0.02881952, ..., 1.        , 0.02934836,
        0.03754255],
       [0.        , 0.        , 0.        , ..., 0.02934836, 1.        ,
        0.        ],
       [0.02142748, 0.035169  , 0.02326211, ..., 0.03754255, 0.        ,
        1.        ]])

In [95]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

1988

In [96]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [97]:
recommend('Deadpool & Wolverine')

Deadpool 2
Deadpool: No Good Deed
Deadpool
Superhero Movie
Teenage Mutant Ninja Turtles

In [98]:
import pickle

In [99]:
pickle.dump(new_df, open('movies.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

### Processing for fetching poster path

In [100]:
poster_paths[poster_paths['id'] == '704239']['poster_path'].values[0]

'/d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg'

In [101]:
new_df[new_df['id'] == '704239']

,id,title,tags,processed_tags
2,704239,The Union,A New Jersey construction worker goes from reg...,new jersey construct worker goe regular guy as...